:root {
    --blue: #0cb2af;
    --red: #e95e50;
    --green: #a1c65d;
    --ltgreen: rgba(161, 198, 93, 0.2);
    --ltyellow: rgba(250, 199, 35, 0.3);
    --purple: #936fac;
}

* {
    margin: 0;
    padding: 0;
    font-family: Lora, Merriweather, Georgia, serif;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 20vh; 
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--ltyellow);
}
a {
    color: var(--purple);
}
/* standard text headers */
h2 {
    font-style: italic;
    font-size: 4em;
    padding: 20px;
    margin-top: 10px;
    
}
main {
    margin: 20vh 20vw 15vh 10vw;
    min-height: 65vh;
    /* background-color: var(--ltyellow); */
    text-align: center;
    /* Reduce or remove this line */
    padding-bottom: 2vh;
    flex: 1;
}
/*  */
main h2 {
    text-shadow: 2px 2px 3px var(--purple);
    /* color: var(--red) */
}
main p {
    font-size: 1.3em;
    padding: 20px;
    margin: 10px;
    text-align: center;
    line-height: 1.3em;
}
main h3 {
    font-size: 2em;
    padding: 20px;
    margin: 10px;
    text-align: center;
    line-height: 1.3em;
}
/* mission statement */
main h4 {
    font-size: 1.5em;
    padding: 20px;
    margin: 10px;
    text-align: center;
    line-height: 1.3em;
}
header {
    height: 15vh;
    width: 100vw;
    background-color: var(--blue);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header p {
    font-size: 3em;
    line-height: 1;
    padding: 20px;
    width: 60vw;
    color: var(--purple);
    text-shadow: 2px 2px 3px whitesmoke;
}
/* section below header with name */
#name {
    height: 5vh;
    width: 100vw;
    background-color: var(--red);
    display:flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 15vh;
    z-index: 1;
}
/* name that appears inside #name section */
h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: 1em;
}
nav {
    background-color: var(--ltgreen);
    color: var(--green);
    height: 80vh;
    width: 20vw;
    position: fixed;
    top: 20vh;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
}
nav ul{
    list-style-type: none;
    margin-left: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    color: var(--green);
    margin: 10px;
}
nav a:hover {
    color: var(--purple);
}
main {
    margin: 20vh 20vw 15vh 20vw;
    min-height: 65vh;
    /* background-color: var(--ltyellow); */
    text-align: center;
    padding-bottom: 2vh;
}
#sideBar {
    background-color: var(--ltgreen);
    color: var(--green);
    height: 80vh;
    width: 20vw;
    position: fixed;
    top: 20vh;
    right: 0;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#sideBar h2 {
    font-size: 2em;
    line-height: 1em;
   
}
.recentProject {
    text-align: center;
    margin: 20px 0;
    
}

footer {
    height: 10vh;
    width: 100vw;
    background-color: var(--blue);
    position: relative;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#copyright {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12pt;
}

.pageDescription {
    font-size: 1.5em;
    padding: 20px;
}   

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px ;
    gap: 15px;
    margin: 30px 15px;
    border: 1px solid var(--green);
    border-radius: 10px;
    background-color: var(--ltgreen);
}

.flex-item {
    box-sizing: border-box;
    margin: 0 auto;
    /* padding: 10px; */
    color:black;
    /* color: var(--green); */
    width: 60vw;
    min-height: 17vw;
    text-align: center;
}
.projVisual {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.project-figure {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.iframe-wrapper {
  position: relative;
  width: 80%;          /* or 100% or whatever you prefer */
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625 = 56.25%) */
  height: 0;
  overflow: hidden;
  margin: auto;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.projectCoverImage {
    width: 80%;
    height: auto;
    object-fit: contain;
}
/* .flex-item iframe {
    width: 80%;
    height: 300px;
} */
/* iframe {
    width: 80%;
    height: 80%;
   
} */
.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    /* padding: 20px; */
    border: none;
}
.home .flex-item {
    box-sizing: border-box;
    margin: 20px auto;
    /* padding: 10px; */
    color:black;
    /* color: var(--green); */
    width: 50vw;
    height: auto;
    text-align: center;
}
/* @media (max-width: 1024px) {
    
    body {
        background-color: brown;
    }
    nav {
        width: 20vw;
    }
    body #sideBar {
     
        display: none !important;
    }
    main {
        margin-right: 0;
    }
} 
    */
